<div class="container">
  <form [formGroup]="passwordForm" (onSubmit)="submit()">
    <div formGroupName="passwords" class="row">
      <div class="col-md-4 col-sm-12">
        <span>password valid: {{passwordForm.get('passwords.password').valid}}</span>
        <input type="password" formControlName="password" class="form-control" [class.is-invalid]="passwordForm.get('passwords.password').touched && passwordForm.get('passwords.password').invalid"
          [class.is-valid]="passwordForm.get('passwords.password').touched && passwordForm.get('passwords.password').valid" [placeholder]="'Password'">
        <div *ngIf="passwordForm.get('passwords.password').invalid" class="invalid-feedback">
          <span *ngIf="passwordForm.get('passwords.password').errors?.required">
              Required field.
          </span>
          <span *ngIf="passwordForm.get('passwords.password').errors?.passwordMinLengthRequired">
              Must be at least {{defaultTextInputMinLength}} characters.
          </span>
          <span *ngIf="passwordForm.get('passwords.password').errors?.passwordMaxLengthExceeded">
              Password is too long.
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <span>confirmPassword valid: {{passwordForm.get('passwords.confirmPassword').valid}}</span>
        <input type="password" formControlName="confirmPassword" class="form-control" [class.is-invalid]="passwordForm.get('passwords.confirmPassword').touched && passwordForm.get('passwords.confirmPassword').invalid"
          [class.is-valid]="passwordForm.get('passwords.confirmPassword').touched && passwordForm.get('passwords.confirmPassword').valid"
          [placeholder]="'Confirm password'">
        <div *ngIf="passwordForm.get('passwords.confirmPassword').invalid" class="invalid-feedback">
          <span *ngIf="passwordForm.get('passwords.confirmPassword').errors?.required">
              Required field.
          </span>
          <span *ngIf="passwordForm.get('passwords.confirmPassword').errors?.passwordMinLengthRequired">
              Must be at least {{defaultTextInputMinLength}} characters.
          </span>
          <span *ngIf="passwordForm.get('passwords.confirmPassword').errors?.passwordMaxLengthExceeded">
              Password is too long.
          </span>
          <span *ngIf="passwordForm.get('passwords.confirmPassword').errors?.matchOther">
              Passwords don't match.
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <span>password group valid: {{passwordForm.get('passwords').valid}}</span>
        <span>form valid: {{passwordForm.valid}}</span>
        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-block btn-primary">Send</button>
      </div>
    </div>
    <div class="row">
      <pre><code class="language-json">{{passwordForm.value | json}}</code></pre>
    </div>
  </form>
</div>
